/* -------- Paramètres de Base -------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

/* -------- Couleurs Site -------- */

body{
  --bgcolor:#2a3235;
  --textcolor: #fff;
  --maincolor: #a9a9a9;
}

body.dark-mode{
  --bgcolor:white;
  --textcolor:black;
  --maincolor: #a9a9a9;
}

.bx-moon{
  color:white;
}

#theme-icon {
  font-size: 24px;
  cursor: pointer;
}

/* -------- Couleur Bouton -------- */
:root{
  --g:#4f4f4f;
  --deg3:rgb(133, 133, 133);
}

