/* -------- Propriété du site -------- */

*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: var(--bgcolor);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align:center;
  bottom: 19px;
  color: white;
  }

/* -------- Texte Délai -------- */

.estimation-text {
  font-size: 17px !important;
  white-space: nowrap;
}

.estimation-wrapper {
  display: flex;
  align-items: center;
}

.loading-logo {
  width: 30px;
  height: 30px;
  background-image: url('../img/loading.gif');
  background-size: cover;
  animation: spin 2s linear infinite;
}

.estimation-text {
  font-size: 20px;
  margin-left: 10px;
}


@media screen and (max-width:900px){

  .estimation-text {
    font-size: 12px !important;
  }
}
